.td_geogebra,
.td_video {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    min-width: 50%;
}

/* blocs de code */
.hljs-ln-numbers {
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
}

.hljs-ln-code {
    padding-left: 10px;
}

