/* Enumerations */
dd.enumerate-enumitem {
  margin-inline-start: 0;
}

/* Embedded elements */
.tdoc-geogebra,
.tdoc-video {
  min-width: 50%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

/* Code blocks */
.hljs-ln td.hljs-ln-numbers {
  padding-left: 3px;
  padding-right: 5px;
  border-right: 1px solid #aaa;
}
.hljs-ln .hljs-ln-n {
  text-align: right;
  color: #aaa;
}
.hljs-ln td.hljs-ln-code {
  padding-left: 5px;
}

/* Solution buttons */
.tdoc-solution {
  display: inline-block;
  margin-top: 5px;
  padding: 6px;
  border: 1px solid buttonborder;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  background-color: #ccc;
}
.tdoc-answer {
  padding: 10px 0;
}
.tdoc-hidden {
  display: none;
}
