/* Enumerations */
dd.enumerate-enumitem {
  margin-inline-start: 0;
}

/* Embedded elements */
.tdoc-geogebra,
.tdoc-video {
  min-width: 50%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

/* Code blocks */
.verbatim {
  overflow: auto;
}

.hljs-ln td.hljs-ln-numbers {
  padding-left: 3px;
  padding-right: 5px;
  border-right: 1px solid #aaa;
}
.hljs-ln .hljs-ln-n {
  text-align: right;
  color: #aaa;
}
.hljs-ln td.hljs-ln-code {
  padding-left: 5px;
}

/* Solution sections */
.tdoc-solution {
  display: none;
  padding: 5px;
}
.tdoc-solution-wrap {
  margin-top: 5px;
  border: 1px solid #aaa;
  font-size: 15px;
}
.tdoc-solution-wrap > input {
  display: none;
}
.tdoc-solution-wrap > label:before {
  display: inline-block;
  width: 1.5em;
  text-align: center;
  content: "\276f";
  transition: transform 0.5s ease-in-out;
}
.tdoc-solution-wrap > label {
  display: block;
  padding-bottom: 2px;
  cursor: pointer;
}
.tdoc-solution-wrap > label:hover {
  background-color: #eee;
}
.tdoc-solution-wrap > input[type="checkbox"]:checked ~ label:before {
  transform: rotate(90deg);
}
.tdoc-solution-wrap > input[type="checkbox"]:checked ~ label {
  border-bottom: 1px solid #aaa;
}
.tdoc-solution-wrap > input[type="checkbox"]:checked ~ .tdoc-solution {
  display: block;
}
