/* Embedded elements */
.tdoc-geogebra, .tdoc-video {
  min-width: 50%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

/* Code blocks */
.hljs-ln-numbers {
  padding-right: 5px;
  border-right: 1px solid #CCC;
  text-align: center;
  vertical-align: top;
  color: #ccc;
}
.hljs-ln-code {
  padding-left: 10px;
}

/* Solution buttons */
.tdoc-solution {
  display: inline-block;
  margin-top: 20px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  background-color: #CCC;
}
.tdoc-answer {
  width: 100%;
  padding: 20px 0;
}
.tdoc-hidden {
  display: none;
}
